@use "@/app/common.scss" as *;

.userInfoBlock {
	max-width: 1200px;
	margin: 0 auto;

	.userDataBlock {
		max-width: 1100px;
		margin: 20px auto 0;
		display: flex;
		justify-content: space-between;
		align-items: start;

		.userCredentials {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			flex-direction: row;
			gap: 20px;
			position: relative;

			.userImg {
				border: 4px solid rgb(0 0 0 / 20%);
				border-radius: 200px;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			.userNameId {
				margin-left: 150px;
				gap: 4px;

				.userName {
					font-weight: 700;
					font-size: 32px;
					line-height: 125%;
					letter-spacing: -0.02em;
					text-align: center;
					color: black;
					display: block;
				}

				.userId {
					font-weight: 700;
					font-size: 14px;
					line-height: 171%;
					text-align: center;
					color: black;
					display: flex;
					align-items: center;
					gap: 8px;
					cursor: pointer;

					.onlineIndicator {
						border-radius: 12px;
						width: 12px;
						height: 12px;
						background-color: $custom-green;
					}
				}
			}
		}

		.shareButton {
			font-weight: 700;
			font-size: 14px;
			line-height: 171%;
			text-align: center;
			color: black;
			border: 2px solid rgb(73 78 91 / 50%);
			background-color: transparent;
			border-radius: 8px;
			padding: 8px 16px;
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
		}
	}
}
