@use "@/app/common.scss" as *;

.modalWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	padding: 16px;
	background-color: rgb(247 247 240 / 95%);
	overflow: auto;
	z-index: 990;
	transition: all 0.25s ease;

	.modalBlock {
		max-width: 400px;
		border-radius: 24px;
		padding: 20px;
		background-color: #fff;
		position: relative;

		.closeModalBtn {
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
		}

		.sessionExpiredContainer {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			gap: 24px;

			.statusSign {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 128px;
				height: 128px;
				border-radius: 50%;
				background-color: rgba(48 178 140 / 20%);
			}

			.sessionExpiredTitle {
				font-weight: 700;
				font-size: 32px;
				line-height: 125%;
				letter-spacing: -0.02em;
				text-align: center;
				color: $custom-neutral-8;
			}

			.sessionExpiredText {
				font-weight: 500;
				font-size: 18px;
				line-height: 156%;
				letter-spacing: -0.02em;
				text-align: center;
				color: $custom-neutral-5;
			}

			.sessionExpiredBtn {
				font-weight: 700;
				font-size: 16px;
				line-height: 150%;
				text-align: center;
				color: #fff;
				border-radius: 12px;
				padding: 16px 32px;
				background-color: $custom-red;
				border: none;
			}
		}
	}
}
