@use "@/app/common.scss" as *;

.firstStageContainer {
	.modalHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.modalTitle {
			color: $custom-neutral-8;
			font-size: 20px;
			line-height: 28px;
			letter-spacing: -0.01em;
			font-weight: 700;
		}
	}

	.modalNftInfo {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $custom-neutral-12;
		border-radius: 12px;
		padding: 20px;

		.nftName {
			color: $custom-neutral-8;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.02em;
			font-weight: 700;
		}

		.nftEthPrice {
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.02em;
			font-weight: 700;
			color: $custom-green;
		}
	}

	.modalCurrenciesComparison {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.priceTagTitle {
			display: flex;
			align-items: center;
			gap: 8px;

			.priceTitle {
				color: $custom-neutral-8;
				font-size: 14px;
				font-weight: 700;
				line-height: 24px;
			}
		}

		.currenciesComparison {
			color: $custom-neutral-8;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
		}
	}

	.confirmPurchaseBtn {
		margin-top: 20px;
		background: #e45f35;
		border-radius: 12px;
		border: none;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		color: #fff;
		cursor: pointer;
		padding: 16px 32px;
		width: 100%;
	}

	.modalFooter {
		margin-top: 20px;
		color: $custom-neutral-5;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
		letter-spacing: -0.02em;
		text-align: center;
	}
}
