@use "@/app/common" as *;

.nftItemPage {
	background-color: $custom-neutral-3;
	color: black;

	.nftItemPageContainer {
		max-width: 1350px;
		margin: 0 auto;
	}

	.nftItemPageMainContent {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 100px;
	}
}
