.navMenuBlock {
	position: absolute;
	width: 100vw;
	margin-top: 53px;
	z-index: 2;
	height: calc(100vh - 53px);
	background-color: red;

	.navMenuList {
		.navMenuItem {
			li {
				color: black;
				list-style: none;
			}
		}
	}

	@media (width >= 768px) {
		display: none;
	}
}
